<div class="row">	
	<div class="col-3">
		<div class="card card-arquivo">
			<div class="card-body">
				<h5 class="text-bold text-blue text-center" id="nome"></h5>
				<hr>
				<p><label class="text-bold" >Login:</label>  <span id="login"></span></p>
				<p style="line-height: 0"><label class="text-bold" >Email:</label> <span id="email"></span></p>
				
			</div>
		</div>
	</div>
	<div class="col-9">
		<h4 class="text-bold text-blue text-center">Filmes</h4>
		<hr style="border-color: #333">
		<div id="listaUsuarioFilme"  class="row">	
		</div>
		<h4 class="text-bold text-blue text-center m-t-100">Séries</h4>
		<hr style="border-color: #333">
		<div id="listaUsuarioSerie" class="row">	
		</div>
	</div>
</div>