<div class="row">
	<div class="col-10 offset-1">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-11">
						<h1>Visualizar Categoria</h1>
					</div>
					<div class="col-1">
						<button class="btn btn-secondary text-white voltarCategoria">Voltar</button>
					</div>
				</div>
				<div class="row">
					<div class="col-12 m-t-40">
						<p><label class="text-bold">Descrição:</label> <span id="descricao"></span></p>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>