<div id="editarEpModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="text-bold text-blue">Editar</h4>
				<button type="button" class="close text-bold" data-dismiss="modal" aria-label="Close">
					<h4><span aria-hidden="true">&times;</span></h4>
				</button>
			</div>
 
			<div class="modal-body">
				<div class="form-group">
					<label>Título</label>
					<input type="text" class="form-control" id="tituloEpEdit" placeholder="Título">
				</div>
				<div class="form-group">
					<label>Duração <i>(min)</i></label>
					<input type="number" class="form-control" id="duracaoEpEdit" placeholder="Duração">
				</div>
				<input type="number" class="form-control" id="idEpEdit" style="display: none;">
				<br>
				<button class="btn btn-success btn-block" id="alterarEpisodio">Adicionar</button>
			</div>
		</div>
	</div>
</div>
