<div class="row">
	<div class="col-10 offset-1">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-11">
						<h1>Formatos de Mídia</h1>
					</div>
					<div class="col-1">
						<button class="btn btn-success text-white" id="novoFormato">Novo</button>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<table class="table table-hover m-t-40">
							<thead>
								<tr>
									<th>Descrição</th>
									<th colspan="3"></th>
								</tr>
							</thead>
							<tbody id="listagemFormato">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
