<div class="row">
	<div class="col-10 offset-1">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-11">
						<h1>Novo Formato de Mídia</h1>
					</div>
					<div class="col-1">
						<button class="btn btn-secondary voltarFormato">Voltar</button>
					</div>
				</div>
				<div class="row">
					<div class="col-12 m-t-40">
						<label>Descrição</label>
						<input type="text" class="form-control" id="descricao" placeholder="Descrição">
						<br>
						<button id="salvarFormato" class="btn btn-success">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

