/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
	font-family: 'Titillium Web Bold';
	src: url('TitilliumWeb-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Titillium Web';
	src: url('TitilliumWeb-Regular.ttf') format('truetype');
}

body{
	background-color: #0c0c0c !important;
	font-family: 'Titillium Web' !important;
	color: #505050 !important;
}

.text-bold{
	font-family: 'Titillium Web Bold' !important;
}

h1{
	font-family: 'Titillium Web Bold' !important;
}

.m-t-40 {
	margin-top: 40px;
}

.row {
	margin: 0px !important;
}

.card {
	margin: 30px;
}

.btn-secondary{
	background-color: #aaa !important;
	border-color: #aaa !important;
}

.btn-light {
	background-color: #b9b9b9 !important;
	border-color: #b9b9b9 !important;
	color: white !important;
}

.btn-light:hover {
	background-color: #aaa !important;
	border-color: #aaa !important;
	color: white !important;
}