<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="background-color: white; border-radius: 5px;">
      <a class="nav-link active" id="filmes-tab" data-toggle="pill" href="#filmes" role="tab" aria-controls="filmes" aria-selected="true">Filmes</a>
      <a class="nav-link" id="series-tab" data-toggle="pill" href="#series" role="tab" aria-controls="series" aria-selected="false">Séries</a>
    </div>
  <br>
  <div class="row">
    <div class="col-6">
      <button class="btn btn-success btn-block" id="novoFilme">Novo Filme</button>
    </div>
    <div class="col-6">
      <button class="btn btn-success btn-block" id="novoFilme">Nova Série</button>
    </div>
  </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="filmes" role="tabpanel" aria-labelledby="filmes-tab">
        <div id="listagemFilme" class="row">
        </div>
    </div>
    <div class="tab-pane fade" id="series" role="tabpanel" aria-labelledby="series-tab">...</div>
  </div>
</div>
</div>


